NEXT_PUBLIC_SITE_URL=http://localhost:3000
WORDPRESS_GRAPHQL_ENDPOINT=http://localhost:8080/graphql
WORDPRESS_USERNAME=
WORDPRESS_PASSWORD=
CONTACT_EMAIL_TO=hello@crm-na.org
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
REVALIDATE_SECRET=change-me
